input[data-v-62661da2] {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid tomato;
    height: 30px
}

button[data-v-62661da2] {
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 40px;
    background-color: tomato;
    color: #fff
}

button[data-v-62661da2]:hover {
    background-color: #fff;
    color: tomato;
    border: 1px solid tomato
}

input[data-v-6de20a8e] {
    text-align: center;
    height: 20px;
    margin: 5px;
    border: 1px solid #fff;
    background: linear-gradient(skyblue, pink);
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

button[data-v-6de20a8e] {
    border: 1px solid #fff;
    background: linear-gradient(pink, skyblue);
    height: 20px
}

button[data-v-6de20a8e]:hover {
    border: 1px solid #fff;
    background: linear-gradient(skyblue, pink);
    height: 20px;
    color: #000
}

select[data-v-6ee0844f] {
    margin: 20px
}

table[data-v-6ee0844f],
td[data-v-6ee0844f],
th[data-v-6ee0844f],
tr[data-v-6ee0844f] {
    margin: 0 auto;
    padding: 10px;
    border: 1px double #000
}

input[data-v-6ee0844f] {
    width: 40px
}

h1[data-v-3ec180be] {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    border: 1px solid green;
    width: 636px;
    background-color: tomato
}

table[data-v-3ec180be] {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid green
}

td[data-v-3ec180be],
th[data-v-3ec180be] {
    padding: 10px;
    border: 1px solid green;
    margin-bottom: 10px
}

th[data-v-3ec180be] {
    background-color: tomato
}

input[type=text][data-v-3ec180be] {
    width: 200px
}

input[type=number][data-v-3ec180be] {
    width: 40px
}

.text-red[data-v-edfa5700] {
    color: green
}

.active[data-v-edfa5700] {
    background-color: tomato;
    font-weight: 700
}

button[data-v-67ff6388] {
    margin-left: 10px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: tomato;
    color: #fff
}

button[data-v-67ff6388]:hover {
    background-color: green
}